<div class="toDo-container">
  <div class="table-button">
    <button mat-stroked-button (click)="addToDo()">
      <mat-icon>add</mat-icon>
      Add ToDo
    </button>

    <button mat-stroked-button (click)="exportToCsv()" class="export-button">
      <mat-icon>description</mat-icon>
      Export to CSV
    </button>
  </div>


  <mat-toolbar class="mat-elevation-z1 list-filter-toolbar" color="primary">
    <form (ngSubmit)="searchToDo()" [formGroup]="toDoFG" class="list-filter-form">
      <div class="tool-form">
        <mat-form-field class="filter-field">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput>
        </mat-form-field>

        <mat-form-field class="filter-field">
          <mat-label>Description</mat-label>
          <input formControlName="description" matInput>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-stroked-button type="submit" class="search-button">
          <mat-icon>search</mat-icon>
          Search
        </button>
        <button (click)="clearToDoFG()" mat-stroked-button class="clear-button">
          <mat-icon>cached</mat-icon>
          Clear
        </button>
      </div>
    </form>
  </mat-toolbar>
  <mat-table [dataSource]="toDoDS" matSort #sorter="matSort" matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header> Title</mat-header-cell>
      <mat-cell *matCellDef="let toDo"> {{ toDo.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
      <mat-cell *matCellDef="let toDo"> {{ toDo.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Deadline</mat-header-cell>
      <mat-cell *matCellDef="let toDo"> {{ toDo.deadline | formatDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="done">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Done</mat-header-cell>
      <mat-cell *matCellDef="let toDo">
        <mat-slide-toggle [checked]="toDo.done" class="toggle-button" (change)="toggleDone(toDo)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let toDo">
        <button mat-icon-button class="edit-button" (click)="editToDo(toDo)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="deleteToDo(toDo.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="resultSize"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25]"
                 (page)="getList()">
  </mat-paginator>

</div>
